<div class="col-sm-3 mb-0">
    <div class="form-group">
        <label for="EmpStatus_Filter" class="col-sm-12">Status</label>
        <div class="col-sm-12">
            <select id="EmpStatus_Filter" asp-items="ViewBag.Status" class="form-control form-control-sm">
                <option value="">Select</option>
            </select>
        </div>
    </div>
</div>
