@model Domains.ViewModels.LoginViewModel;

@{
    ViewData["Title"] = "Subscription DashBoard";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
    //Layout = null;
}


<div class="RectangleCardContainer">
    <!-- card1 -->
    <div class="RectangleCard">
        <div class="cardContent">
            <div class="KPIHeadingWrapper">
                <span class="KPIHeading">Something</span>
            </div>
            <div class="KPIUnitWrapper">
                <span class="KPIUnit">$</span>
                <span class="KPIValue">25.02</span>
                <span class="KPIValueUnit">K</span>
            </div>
            <div class="KPIIcon">
                <img src="~/img/module_img/cardicon/employeesvg.svg" alt="EmployeeIcon">
            </div>
        </div>
    </div>

    <!-- card-2 -->
    <div class="RectangleCard">
        <div class="cardContent">
            <div class="KPIHeadingWrapper">
                <span class="KPIHeading">Something</span>
            </div>
            <div class="KPIUnitWrapper">
                <span class="KPIUnit">$</span>
                <span class="KPIValue">25.02</span>
                <span class="KPIValueUnit">K</span>
            </div>
            <div class="KPIIcon">
                <img src="~/img/module_img/cardicon/employeesvg.svg" alt="EmployeeIcon">
            </div>
        </div>
    </div>

    <!-- card3 -->
    <div class="RectangleCard">
        <div class="cardContent">
            <div class="KPIHeadingWrapper">
                <span class="KPIHeading">Something</span>
            </div>
            <div class="KPIUnitWrapper">
                <span class="KPIUnit">$</span>
                <span class="KPIValue">25.02</span>
                <span class="KPIValueUnit">K</span>
            </div>
            <div class="KPIIcon">
                <img src="~/img/module_img/cardicon/employeesvg.svg" alt="EmployeeIcon">
            </div>
        </div>
    </div>

    <!-- card4 -->
    <div class="RectangleCard">
        <div class="cardContent">
            <div class="KPIHeadingWrapper">
                <span class="KPIHeading">Something</span>
            </div>
            <div class="KPIUnitWrapper">
                <span class="KPIUnit">$</span>
                <span class="KPIValue">25.02</span>
                <span class="KPIValueUnit">K</span>
            </div>
            <div class="KPIIcon">
                <img src="~/img/module_img/cardicon/employeesvg.svg" alt="EmployeeIcon">
            </div>
        </div>
    </div>
</div>