@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<div class="UserProfileMContainer">
    <div class="ProfileSection">
        <div class="ProfilePic">
            <img src="\img\module_img\socialmediaicon\useravatar.jpg" alt="User Profile Pic" />
        </div>
        <div class="Designation">
            <span>Full Stack Web Developer</span>
        </div>
        <div class="Address">
            <span>South Molton Street, Mayfair, London, W1K.</span>
        </div>
    </div>

    <div class="UserInfo">
        <ul>
            <li><span>Full Name</span> <p>: ASM Sayed</p></li>
            <li><span>DOB</span> <p> : 01/04/1999</p></li>
            <li><span>Nationality</span> <p> : Bangladeshi</p></li>
            <li><span>Mobile Number</span> <p>: 01984347334</p></li>
            <li><span>Email ID:</span> <p>: asmsayed@gmail.com</p></li>
        </ul>
    </div>

    <div class="SocialLinks">
        <ul>
            <li><div class="liSocialIcon"><img src="\img\module_img\socialmediaicon\facebook.svg" alt="FaceBook" /></div> <a href="www.facebook.com">www.facebook.com</a></li>
            <li><div class="liSocialIcon"><img src="\img\module_img\socialmediaicon\github.svg" alt="FaceBook" /></div> <a href="www.github.com">www.github.com</a></li>
            <li><div class="liSocialIcon"><img src="\img\module_img\socialmediaicon\whatsapp.svg" alt="Whatsapp" /></div> <a href="web.whatsapp.com">web.whatsapp.com</a></li>
            <li><div class="liSocialIcon"><img src="\img\module_img\socialmediaicon\instagram.svg" alt="FaceBook" /></div> <a href="www.instagram.com">www.instagram.com</a></li>
        </ul>
        
    </div>

    <div class="RoutineStatus">
        <span>Routine</span>
        <ul>
            <li>
                <span>On work</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="OnWorkFiller"></div>
                    </div>
                    <span>300 Days</span>
                </div>
                
            </li>

            <li>
                <span>Absent</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="AbsentFiller"></div>
                    </div>
                    <span>30 Days</span>
                </div>
            </li>

            <li>
                <span>Leaves</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="LeavesFiller"></div>
                    </div>
                    <span>30 Days</span>
                </div>
           
            </li>

            <li>
                <span>Casual Leaves</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="CasualLeavesFiller"></div>
                    </div>
                    <span>5 Days</span>
                </div>

            </li>

        </ul>
        
    </div>

    <div class="RoutineStatus">
        <span>Project Status</span>
        <ul>
            <li>
                <span>On work</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="OnWorkFiller"></div>
                    </div>
                    <span>300 Days</span>
                </div>

            </li>

            <li>
                <span>Absent</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="AbsentFiller"></div>
                    </div>
                    <span>30 Days</span>
                </div>
            </li>

            <li>
                <span>Leaves</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="LeavesFiller"></div>
                    </div>
                    <span>30 Days</span>
                </div>

            </li>

            <li>
                <span>Casual Leaves</span>
                <div class="ProgressInfo">
                    <div class="progress-bar">
                        <div class="CasualLeavesFiller"></div>
                    </div>
                    <span>5 Days</span>
                </div>

            </li>

        </ul>

    </div>



</div>