
<div class="companyDetContainer">
    <div class="logoWrapper">
        <div class="logo">
            <img src="/img/module_img/WP-l-rb.png" alt="Workers Permit Logo">
        </div>
        <span class="moto">Your Virtual HR Manager</span>
    </div>

    <div class="companyDiscription">
        <span class="discHeading">Know us</span>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Placeat quo eligendi accusantium maxime ipsam quam esse
            animi deleniti nobis sit. Quibusdam ex iusto eos molestiae
            maxime cumque sed amet nam.
            Beatae, iusto expedita nesciunt adipisci unde cumque culpa
            ipsum aliquid porro ipsam ratione! Animi facilis mollitia,
            facere similique exercitationem nostrum, ad voluptate quisquam beatae
            reprehenderit saepe laboriosam deserunt, a dolor?
        </p>
    </div>

    <div class="companyVideo">
        <div class="video">
            <img src="/img/module_img/VideoIcon.png" alt="">
        </div>
        <div class="playbutton">
            <img src="/img/module_img/play-button.svg" alt="">
        </div>
    </div>


    <div class="downloadBtn">
        <input type="button" name="" id="">
        <label for="">Download HRM User Manual <i class="fa-solid fa-download fa-xl"></i></label>

    </div>
</div>

