@{
    ViewData["Title"] = "Sub Module";
}
@{

        string[] BCText = new string[] { "Sub Module List" };
        string[] BCLink = new string[] { "submodule/index" };
        string createlink = "submodule/create";
        string linkname = "Add New";
        PageHeaderProps pageHeader = new PageHeaderProps
        {
            PageTitle = "Sub Module Info",
            PageDesc = "Sub Module Info",
            PageCreateLink = createlink,
            PageCreateLinkName = linkname,
            BreadcrumbText = BCText,
            BreadcrumbLink = BCLink,
            IsAdd = ViewBag.IsAdd
    };
}


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Ajax data source (Arrays) table start -->
            <div class="card">
                <div class="card-header">
                    @await Component.InvokeAsync("PageHeader", pageHeader)
                </div>
                <div class="card-block">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Module:</label>
                                    <div class="col-md-9">
                                        <select id="ModuleId" asp-items="ViewBag.ModuleId" class="form-control">
                                            <option value="0">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <button id="btnsubmoduleSearch" class="btn btn-info btn-sm waves-effect waves-light">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive dt-responsive">
                        <table id="dt-SubModule" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>submoduleId</th>
                                    <th>SubModule Name</th>
                                    <th>Module Name</th>
                                    <th>Description</th>
                                    <th>SortIndex</th>
                                    <th>Company </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Ajax data source (Arrays) table end -->
        </div>
    </div>
</div>
<input type="hidden" id="IsView" name="IsView" value="@ViewBag.IsView" />
<input type="hidden" id="IsAdd" name="IsAdd" value="@ViewBag.IsAdd" />
<input type="hidden" id="IsDelete" name="IsDelete" value="@ViewBag.IsDelete" />
<input type="hidden" id="IsEdit" name="IsEdit" value="@ViewBag.IsEdit" />

@section Scripts {

    <script>
        $('#ModuleId').select2();
    </script>
}
