<div class="SignInContainer">
    <div class="signInHeader">
        <span>Password Setup</span>
    </div>

    <div class="formContainer">

        <div class="msg">
            <Span class="messageServe" data-Error="ServerError">Invalid Invitation Key!</Span>
        </div>

    </div>
</div>